<link rel="stylesheet" href="/styles/nav.css">
<div class="container">
    <div class="nav">
        <div class="logo"><h1>Admin Panel</h1></div>
        <ul>
            <li><a href="/admin/dashboard">Home</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/games">Games</a></li>
            <li><a href="/admin/scores">View Scores</a></li>
        </ul>
        <a href="/admin/logout" class="container__logout">Logout<span>></span></a>
    </div>
</div>