<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="/styles/404.css">
</head>
<body>
    <div class="not-found">
        <h1>404</h1>
        <p>Oops! Page not found</p>
        <a href="/admin/dashboard">Go to home</a>
    </div>
</body>
</html>