* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20vw;
}

input {
    border: 1px solid #001a6e;
}

input, button {
    padding: 10px 10px;
    border-radius: 5px;
}

button {
    background-color: #0029af;
    color: white;
    margin-top: 30px;
}